@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ---- START OF VARIABLES SECTION ------- */

/* -- :ROOT HELPS YOU TO SPECIFY YOUR STYLE VARIABLES SO THAT YOU CAN CALL THEM WHENEVER YOU WANT TO USE IT, WE DO SO BY WRITING A PREFIX FOR IT AND ALSO A NAME AS WELL, BELOW ARE THEY, the text in (--text-gray ) stands for the prefix while the gray stands for the name */

:root{
    /* Text Colors */
    --text-gray: #808291;
    --text-white: #f8f9fa;
    --text-light: #f6f6f6;
    --text-dark: #1A3260;
    --text-dark2: #1A3760D4;
    --text-red: #ff4D6D;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    --bg-blue: rgb(249, 243, 255);
    --bg-red: rgb(254, 247, 252);
    --bg-yellow: rgb(255, 255, 246);
    --bg-purple: rgb(246, 255, 255);

    /* ----- FONT FAMILY ---- */
    --font-poppins: 'Poppins', 'sans-serif';

    /* ---- Gradient Colors ---- */
    --bg-gradient: linear-gradient(to right, #ff512f, #dd2479);
    --bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
    --bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);


    /* ---IMAGES -- */
    --bg-cover: url('./assets/bgimg1.png');
    --bg-image1 : url('./assets/img1.png');
    --bg-image2 : url('./assets/img2.png');
    --bg-image3 : url('./assets/img3.png');
}

* > *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* ---- END OF VARIABLES SECTION ------- */


/* ---- START OF GLOBAL CLASSES ------- */

.text-dark{
    color: var(--text-dark);
}
.text-white{
    color: var(--text-white);
}
.text-light{
    color: var(--text-light);
}
.text-gray{
    color: var(--text-gray);
}
.text-red{
    color: var(--text-red);
}
.bg-gradient{
    background: var(--bg-gradient);
}
.bg-gradient-indigo{
    background: var(--bg-gradient-indigo);
}
.bg-peach{
    background: var(--bg-gradient-peach);
}
.bg-red{
    background: var(--bg-red);
}
.bg-blue{
    background: var(--bg-blue);
}
.bg-yellow{
    background: var(--bg-yellow);
}
.bg-purple{
    background: var(--bg-purple);
}

.font-poppins{
    font-family: var(--font-poppins);
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: 1em;
    line-height: 1.5em;
}
.text-md{
    font-size: 1.5em;
}
.text-lg{
    font-size: 2.2em;
    line-height: 3rem;
}
.text-xl{
    font-size: 3em;
}
.text-2xl{
    font-size: 5em;
}
.font-bold{
    font-weight: bold;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-initial{
    flex: 0 1 auto;
}
.flex-grow{
    flex-grow: 1;
}
.justify-content{
    justify-content: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.container{
    width: 100%;
}
.container-fluid{
    width: 98%;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-5{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.py-10{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-5{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.px-10{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.link{
    color: var(--text-dark);
    font-weight: bold;
}
.link:hover{
    color: var(--text-red);  
}
.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn-primary{
     padding: .8rem 2rem;
     border-radius: 50px;
     font-family: var(--font-poppins);
     font-weight: bold;
}
.btn-shadow{
    box-shadow: var(--box-shadow);
}
.btn-primary:hover{
    background: var(--bg-gradient-indigo);
}
.bg-cover{
    background: var(--bg-cover);
    object-fit: fill;
}
.d-inline{
    display: inline-block;
}
.d-block{
    display: block;
}
.grid{
    display: grid;
}
.cols-1{
    grid-template-columns: repeat(1, minmax(0,1fr));
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
/* ---- END OF GLOBAL CLASSES ------- */


/* ---- START OF MEDIA QUERY ------- */

/* for  screen sm (640px) */

@media (min-width:640px) {
    .sm-text-xl{
        font-size: 3em;
    }
}

/* for  screen md (768px) */

@media (min-width:768px) {
    .md-text-left{
        text-align: left;
    }
    
}

/* for large screen lg (1024px) */

@media (min-width:1024px) {
    .container{
        max-width: 1024px;
    }
    #nav{
        flex-direction: row !important;
    }
    #nav .toggle-btn > button{
        display: none;
    }
    .collapse{
        max-height: initial !important;
    }
    .collapse ul{
        flex-direction: row !important;
    }
    .active{
        max-height: 100% !important;
    }
    #nav .flex-initial ul button{
        display: inline-block !important;
    }
    .lg-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .lg-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* for large screen xl (1280px) */

@media (min-width:1280px) {
    #nav{
        background: transparent !important;
    }
    #nav .flex-initial ul button{
        display: inline-block !important;
    }
}

/* ---- END OF MEDIA QUERY ------- */


/* ---- Start of Navigation Bar ------- */

#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    background: var(--text-light);
    flex-direction: column;
}

#nav .collapse{
    max-height: 0px;
    overflow-y: hidden;
    transition: all 0.9s ease;
}

#nav .collapse ul{
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
}
#nav .collapse ul > li{
    padding: 0 1.5rem;
    line-height: 3rem;
    font-size: 1.1em;
}
#nav .toggle-btn > button{
    top: 0;
    right: 0;
    font-size: 2em;
    position: absolute;
    padding: 1rem;
    color: var(--text-dark2);
}

#nav .flex-initial ul button{
    display: none;
}

.active{
    max-height: 50vh !important;
}
/* ---- End of Navigation Bar ------- */


/* ---- START OF BANNER AREA STYLE ------- */

#site-main .banner-area{
    width: 100%;
    position: relative;
    background: var(--bg-cover);
    background-repeat: no-repeat;
    background-position-x: right;
    z-index: -99;
}

#site-main .banner-area .banner-title{
    height: 95vh;
    padding-top: 16rem;
}
/* ---- END OF BANNER AREA STYLE ------- */


/* ---- AGENCY AREA STYLE ------- */

#site-main .agency-area{
    padding: 0.5em 0;
}

/* ---- END OF AGENCY AREA STYLE ------- */

/* START OF DIGITAL LIFE AREA STYLE */

#site-main .life-area > .grid{
    column-gap: 10em;
}
#site-main .life-area .grid-images{
    display: grid;
    grid-template-columns: repeat(16, minmax(10px, 1fr));
    grid-template-rows: repeat(8, minmax(100px, 1fr));
}
#site-main .life-area .grid-images .item-one{
    background: var(--text-gray);
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    background: var(--bg-image1) no-repeat;
    background-size: cover;
    border-radius: 8px;
    filter: blur(1px);
}
#site-main .life-area .grid-images .item-two{
    background: var(--text-gray);
    grid-column-start: 9;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 4;
    background: var(--bg-image2) no-repeat;
    background-size: cover;
    border-radius: 8px;
    filter: blur(1px);
}
#site-main .life-area .grid-images .item-three{
    grid-area: 3 / 4 / 8 / 14;
    background: var(--bg-image2) no-repeat;
    background-size: cover;
    border-radius: 8px;
    z-index: 99;
}


/* END OF DIGITAL LIFE AREA STYLE */
