@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ---- START OF VARIABLES SECTION ------- */

/* -- :ROOT HELPS YOU TO SPECIFY YOUR STYLE VARIABLES SO THAT YOU CAN CALL THEM WHENEVER YOU WANT TO USE IT, WE DO SO BY WRITING A PREFIX FOR IT AND ALSO A NAME AS WELL, BELOW ARE THEY, the text in (--text-gray ) stands for the prefix while the gray stands for the name */

:root{
    /* Text Colors */
    --text-gray: #808291;
    --text-white: #f8f9fa;
    --text-light: #f6f6f6;
    --text-dark: #1A3260;
    --text-dark2: #1A3760D4;
    --text-red: #ff4D6D;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    --bg-blue: rgb(249, 243, 255);
    --bg-red: rgb(254, 247, 252);
    --bg-yellow: rgb(255, 255, 246);
    --bg-purple: rgb(246, 255, 255);

    /* ----- FONT FAMILY ---- */
    --font-poppins: 'Poppins', 'sans-serif';

    /* ---- Gradient Colors ---- */
    --bg-gradient: linear-gradient(to right, #ff512f, #dd2479);
    --bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
    --bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);
}

/* ---- END OF VARIABLES SECTION ------- */